# BetaSeries OAuth configuration
VITE_BS_AUTH_URL=https://www.betaseries.com
VITE_BS_API_URL=https://api.betaseries.com
# Set to your dev server login route
VITE_BS_REDIRECT_URI=http://localhost:5173/login
# From your BetaSeries developer app
VITE_BS_API_KEY=__your_client_id__
# Avoid exposing in frontend apps; only for local dev if required by API
VITE_BS_SECRET=__your_client_secret__
VITE_BS_API_VERSION=3.0
